NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me
STRIPE_STARTER_PRICE_ID=price_replace_me
STRIPE_PRO_PRICE_ID=price_replace_me
STRIPE_STARTER_HOSTING_PRICE_ID=price_replace_me
STRIPE_PRO_HOSTING_PRICE_ID=price_replace_me
STRIPE_TAX_ENABLED=true
NEXT_PUBLIC_SITE_URL=http://localhost:3000
